/* TOC:

    1. Box Model
    2. Typography & Base
    3. Header
    4. Desktop & tablet menu
    5. Mobile menu
    6. Landing page
    7. Footer
    8. Media quieries - Mobile
    9. Media queries - Tablet
    10. Clearfix

*/


/*---- 1. Box Model ----*/

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  
  
  
  /*---- 2. Typography & Base ----*/
  
  body {
      background-color: rgb(206, 220, 226);
  }
  
  #wrapper {
      background-color: rgb(236, 236, 236);
      width: 1438px;
      margin: 0 auto;
      border-left: 3px solid rgb(105, 105, 105);
      border-right: 3px solid rgb(105, 105, 105);
      box-shadow: 0.1em 0.1em 1em rgb(150, 150, 150); /* Lägger till en skugga på var sida om wrappern. */
  }
  
  h1 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 3em;
      font-weight: 400;
      text-transform: uppercase;
      color: #666;
      padding: 0.5em 0 0.5em 0;
  }
  
  h2 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 2em;
      font-weight: 300;
  }
  
  h3 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.5em;
      color: #4f4f71;
  }
  
  h4 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.2em;
      color: #4f4f71;
  }
  
  p {
      font-family: 'Poppins', sans-serif;
      font-size: 1em;
      line-height: 1.5;
      color: #000;
  }
  
  strong {
      font-weight: 700;
  }
  
  em {
      font-style: italic;
  }
  
  a {
      color: #ccc;
      text-decoration: none;
  }
  
  a:hover {
      color: #666;
      text-decoration: none;
  }
  
  
  
  
  /*---- 3. Header ----*/
  
  header {
      background-image: url(../images/PSheader_light.png);
      background-size: cover;
      background-position: center;
      background-color: #a091b8;
      background-blend-mode: multiply;
      width: 100%;
      height: 500px;
  }
  
  .logoText {
      text-align: center;
      padding-top: 60px;
  }
  
  .logoText h1 {
      font-family: 'Exo', sans-serif;
      font-size: 6.5em;
      color: #f1f1f1;
      text-transform: uppercase;
      text-shadow: 2px 2px 4px #333;
      padding: 0.1em;
  }
  
  .logoText h2 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.6em;
      color: #ccc;
  }
  
  #controllerIMG {
      width: 150px;
      display: block;
      margin: 40px auto 0 auto;
  }
  
  
  
  
  /*---- 4. Desktop & tablet menu ----*/
  #bigscrNav {
      margin-top: 84px;
      display: block;
      text-align: center;
      background: rgba(255, 255, 255, 0.637);
  }
  
  .dropdown {
      position: relative;
      display: inline-block;
  }
  
  .dropbtn {
      background-color: transparent;
      font-family: 'Rubik', sans-serif;
      font-size: 1.3em;
      color: #000;
      text-transform: uppercase;
      border: none;
      padding: 15px;
      min-width: 160px;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-family: 'Poppins', sans-serif;
      font-size: 1.1rem;
  }
  
  .dropdown-content a:hover {
      background-color:  rgb(159, 230, 233);
  }
  
  .dropdown-content a:focus {
      display: block;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  
  
  
  /*---- 5. Mobile menu ----*/
  #smallerNav {
      display: none;
  }
  
  .smallerNav_containter {
      overflow: hidden;
      background-color: rgb(218, 218, 218);
      position: absolute;
      top: 0px;
      width: 100%;
      text-align: center;
  }
    
  .smallerNav_containter #smallerNav_links {
      display: none;
  }
  
  .smallerNav_containter a {
      color: rgb(51, 51, 51);
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1.2em;
      display: block;
  }
  
  .smallerNav_containter a.icon {
      background: rgb(218, 218, 218);
      display: block;
      position: absolute;
      right: 0;
      top: 0;
  }
  
  .smallerNav_containter a:hover {
      background-color: rgb(184, 184, 184);
      color: rgb(66, 66, 66);
  }
  
  .smallerNavbar {
      height: 3em;
      background-color: rgb(218, 218, 218);
  }
  
  #smallerNav_links p {
      font-size: 1.5em;
      color: rgb(0, 150, 137);
      padding-top: 30px;
  }
  
  #smallerNav_links a {
      font-family: 'Poppins';
      font-size: 1.1em;
  }
  
  #smallerNav_links a:nth-of-type(7) {
      padding-bottom: 40px;
  }
  
  
  
  
  /*---- 6. Landing page ----*/
  
  .dateBox {
      text-align: center;
      width: 15em;
      height: 8em;
      margin: 50px auto 0 auto;
      padding: 20px;
      background-color: #5c426d;
      border-radius: 10px;
  }
  
  .dateBox_heading {
      font-size: 2em;
      color: #fff;
  }
  
  .dateBox_date {
      font-size: 1.3em;
      color: rgb(166, 252, 255);
  }
  
  .card {
      width: 70%;
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: flex-start;
      background-color: #fff;
      padding: 30px;
      margin: 40px auto;
      border-radius: 10px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .05);
  }
  
  .cardIMG {
      width: 30%;
      object-fit: contain;
  }
  
  .cardTextBlock {
      width: 70%;
      padding: 0 20px 0 40px;
  }
  
  .cardHeading {
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.8rem;
      line-height: 1.2;
      margin-bottom: 10px;
  }
  
  .cardDate {
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.2rem;
      color: rgb(0, 123, 128);
      margin-bottom: 20px;
  }
  
  .cardText {
      font-size: 1rem;
      font-family: 'Poppins', sans-serif;
  }
  
  .monthHeading {
      font-family: 'Exo', sans-serif;
      font-size: 2.5em;
      margin: 80px 0 0 150px;
      color: rgb(0, 123, 128);
  }
  
  
  
  
  /*---- 7. Footer ----*/
  
  footer {
      background-color: #b6b6b6;
      width: 100%;
      height: 20%;
      margin-top: 100px;
  }
  
  footer ul {
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.2rem;
      color: #444;
      text-align: center;
      padding: 50px 0;
  }
  
  
  
  
  /*---- 8. Media Queries - MOBILE ----*/
  
  @media only screen and (max-width: 480px) {
      #wrapper {
          width: 100%;
          border: 0;
      }
  
      main {
          width: 100%;
      }
  
      .logoText {
          padding-top: 20px;
      }
      .logoText h1 {
          font-size: 2.2em;
      }
  
      .logoText h2 {
          font-size: 1.2em;
          padding: 10px;
          margin: auto 20px;
          line-height: 1.5;
      }
      
      header {
          height: 21em;
          padding-top: 50px;
      }
  
      #bigscrNav {
          display: none;
      }
  
      #smallerNav {
          display: inline-block;
      }
  
      #controllerIMG {
          width: 120px;
          display: block;
          margin: 20px auto 0 auto;
      }
  
      .monthHeading {
          text-align: center;
          font-size: 1.5em;
          margin: 30px 0 0 0;
      }
  
      .card {
          width: 100%;
          padding: 30px;
          border-radius: 0;
          margin: 0 0 20px 0;
      }
  
      .cardIMG {
          display: block;
          width: 100%;
          border-radius: 10px;
      }
  
      .cardTextBlock {
          width: 100%;
          padding: 0px;
      }
  
      .cardHeading {
          margin-top: 10px;
          text-align: center;
      }
  
      .cardDate {
          text-align: center;
      }
  
  }
  
  
  
  
  /*---- 9. Media Queries - TABLET ----*/
  
  
  @media only screen and (min-width: 481px) and (max-width: 768px) {
      #wrapper {
          width: 100%;
          border: 0;
      }
  
      header {
          height: 350px;
      }
  
      .logoText {
          padding-top: 20px;
      }
  
      .logoText h1 {
          font-size: 3em;
      }
  
      .logoText h2 {
          font-size: 1.5em;
          padding: 10px;
          margin: auto 20px;
          line-height: 1.5;
      }
  
      #controllerIMG {
          width: 130px;
          margin-top: 20px;
      }
      
      #smallerNav {
          display: none;
      }
  
      #bigscrNav {
          margin-top: 45px;
      }
  
      main {
          width: 100%;
      }
  
      .monthHeading {
          text-align: center;
          font-size: 1.5em;
          margin: 30px 0 0 0;
      }
  
      .card {
          width: 90%;
          padding: 30px;
          border-radius: 0;
          margin: 20px auto;
      }
  
      .cardIMG {
          display: block;
          width: 80%;
          border-radius: 10px;
          margin: 0 auto;
      }
  
      .cardTextBlock {
          width: 100%;
          padding: 0px;
      }
  
      .cardHeading {
          margin-top: 10px;
          text-align: center;
      }
  
      .cardDate {
          text-align: center;
      }
  
  }
  
  
  
  
  /*---- 10. Clearfix ----*/
  
  /**
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  .cf:before,
  .cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  .cf:after {
      clear: both;
  }
  
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  .cf {
      *zoom: 1;
  }